/*=========================================
    RESPONSIVE DESIGN
=========================================*/

@media(max-width:992px){

}

@media(max-width:768px){

}

@media(max-width:576px){

}

/* TABLETS */

@media(max-width:992px){

.nav-links{

    gap:20px;

}

}

/*MOBILE*/

@media(max-width:768px){

.hamburger{

display:flex;

}

.nav-actions{

display:none;

}

.nav-links{

position:fixed;

top:80px;

left:-100%;

width:100%;

background:white;

flex-direction:column;

padding:40px 0;

transition:.4s;

box-shadow:var(--shadow-md);

}

.nav-links.active{

left:0;

}

.dropdown-menu{

position:static;

opacity:1;

visibility:visible;

transform:none;

display:none;

width:100%;

box-shadow:none;

}

.dropdown.active .dropdown-menu{

display:block;

}

}

/*HERO*/

@media(max-width:992px){

.hero-container{

grid-template-columns:1fr;

text-align:center;

}

.hero-description{

margin:auto auto 35px;

}

.hero-buttons{

justify-content:center;

}

.hero-stats{

justify-content:center;

margin-top:20px;

}

.hero-image{

order:-1;

margin-bottom:40px;

}

.hero h1{

font-size:3rem;

}

.hero-image img{

width:320px;

}

}